<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cheeseburger</title>
  </head>
  <body>
    <h1>Cheeseburger</h1>
    <form method="POST">
      <p>English: <input name="english" /></p>
      <p>中文: <input name="chinese"/></p>
      <p>pinyin: <input name="pinyin" /></p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
