<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cheeseburger</title>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDVKv_5zYP9tXEgTgDQZKhTIj3VwtoqmTE",
        authDomain: "cheeseburger-b5a9b.firebaseapp.com",
        databaseURL: "https://cheeseburger-b5a9b.firebaseio.com",
        projectId: "cheeseburger-b5a9b",
        storageBucket: "cheeseburger-b5a9b.appspot.com",
        messagingSenderId: "738901475359"
      };
      firebase.initializeApp(config);
  </script>
  </head>
  <body>
    <h1></h1>
    <form id="wordForm" method="POST">
      <p>English: <input id="englishField" name="englishField" /></p>
      <p>中文: <input id="chineseField" name="chineseField"/></p>
      <p>pinyin: <input id="pinyinField" name="pinyinField" /></p>
      <button type="submit">Submit</button>
    </form>
    <script src="js/firebaseWord.js" charset="utf-8"></script>
  </body>
</html>
