<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cheeseburger</title>
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC8j4JVy9MJj4nwXUUldC3dYW68KxFhcVk",
      authDomain: "chinese-37eef.firebaseapp.com",
      databaseURL: "https://chinese-37eef.firebaseio.com",
      projectId: "chinese-37eef",
      storageBucket: "chinese-37eef.appspot.com",
      messagingSenderId: "966769493570"
    };
    firebase.initializeApp(config);
    </script>
  </head>
  <body>
    <h1></h1>
    <form id="wordForm" method="POST">
      <p>English: <input id="englishField" name="englishField" /></p>
      <p>中文: <input id="chineseField" name="chineseField"/></p>
      <p>pinyin: <input id="pinyinField" name="pinyinField" /></p>
      <button type="submit">Submit</button>
    </form>
    <% let keys = Object.keys(words) %>
    <% keys.forEach((key) => { %>
      <p><%= words[key].chinese %></p>
      <p><%= words[key].english %></p>
      <p><%= words[key].pinyin %></p>
    <%})%>

    <script src="js/firebaseWord.js" charset="utf-8"></script>
  </body>
</html>
